* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    border: 1px solid black;
}

a {
    text-decoration: none;
    display: block;
    color: black;
}

li {
    list-style-type: none;
}

.container {
    width: 1200px;
    height: 700px;

    margin: 0 auto;
}

.header {
    width: 1200px;
    height: 100px;

    display: flex;
    justify-content: space-between;
}

.logo{
    width: 200px;
    height: 100px;
}


.main-menu {
    width: 600px;
    height: 100px;
    align-items: center;
    display: flex;
}

.main-menu li {
    width: 150px;
    height: 25px;
    text-align: center;
}

.main-menu>li:hover {
    background-color: steelblue;
}

.sub-menu li:hover {
    background-color: orange
}

.sub-menu {
    display: none;
}

.slide {
    width: 1200px;
    height: 300px;
}

.contents {
    width: 1200px;
    height: 200px;

    display: flex;
}

.notice {
    width: 400px;
    height: 200px;
}

.news {
    width: 400px;
    height: 176px;
}

.gallery {
    width: 400px;
    height: 176px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gallery img {
    width: 130px;
    height: 130px;
}

.hanner {
    width: 400px;
    height: 200px;
}

.shortcut {
    width: 400px;
    height: 200px;
}

.footer {
    width: 1200px;
    height: 100px;

    display: flex;
}

.capy {
    width: 1000px;
    height: 100px;
}

.modal {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    position: absolute;
    top: 40%;
    left: 40%;

    display: none;
}